.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.supplier {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.details {
  font-size: 0.8em;
  color: #666;
}

.button {
  background-color: #12a366;
  color: white;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  background-color: #096b1a;
}
